.ourvisionContainer{
    width: 100%;
}

.ourvisionContent{
    width: 85%;
    margin: auto;
}

.ourvisionTextBlock{
    margin-bottom: 50px;
}

.ourvisionTextBlock h4{
    font-size: 0.95vw;
    font-weight: 600;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
}

.ourvisionTextBlock h3{
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 54px;
    color: rgba(35, 37, 54, 1)
}

.ourvisionTextBlock p{
    max-width: 600px;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 24px;
    color: rgba(35, 37, 54, 1)
}